ENVIRONMENT=
 
# Qdrant Settings (Qdrant Cloud)
QDRANT_HOST_URL=
QDRANT_API_KEY=
 
# MongoDB Settings (Azure Cosmos DB)
DOCUMENT_DB_CONNECTION_STRING=
# Azure OpenAI Embeddings
AZURE_OPENAI_ENDPOINT=
AZURE_OPENAI_API_KEY=
AZURE_OPENAI_EMBEDDING_DEPLOYMENT=
AZURE_OPENAI_CHAT_DEPLOYMENT=
AZURE_OPENAI_API_VERSION=
AZURE_STORAGE_CONNECTION_STRING=
AZURE_STORAGE_ACCOUNT_NAME=
AZURE_STORAGE_ACCOUNT_KEY=
AZURE_CONTAINER_NAME=
AZURE_DATA_STORAGE=
RUN_TESTS=

# Azure OpenAI GPT-5.2 Creds
AZURE_OPENAI_GPT_ENDPOINT=
AZURE_OPENAI_GPT_API_VERSION=
AZURE_OPENAI_GPT_API_KEY=
AZURE_OPENAI_GPT_DEPLOYMENT=